@import '../../themes/animations.css';

.mainContainer {
  display         : flex;
  flex-direction  : column;
  background-color: #f0f0f0;
  height          : calc(100vh - 10vh);
  overflow-y      : hidden;

  .pictureContainer {
    position        : relative;
    height          : calc(100vh - 10vh);
    /* Take up the remaining height */
    background-color: #f0f0f0;
    z-index         : 1;

    .headerText {
      position: absolute;
      top     : 40%;
      left    : 10%;

      h2 {
        color      : #343a40;
        font-weight: 700;
      }

      h3 {
        color      : #6c757d;
        font-weight: 500;
      }

      h4 {
        color      : #6c757d;
        font-weight: 300;
      }

      .contactButton {
        position        : relative;
        display         : flex;
        justify-content : center;
        margin-top      : 20px;
        padding         : 10px 20px;
        background-color: var(--color-secondary);
        color           : #fff;
        border-radius   : 5px;
        text-decoration : none;
        font-size       : 20px;
        font-weight     : 500;
        opacity         : 0.7;
        cursor          : pointer;
        transition      : opacity 0.3s ease-in-out;
        border          : 0px;
        width           : 350px;
        animation       : bouncy 5s linear;

        &:hover {
          opacity: 1;
        }
      }
    }

    .mainImage {
      width          : 100%;
      height         : 100%;
      object-fit     : cover;
      object-position: center;
    }
  }
}

@media (max-width: 390px) {
  .mainContainer {
    height: calc(100dvh - 10vh); /* Use dynamic viewport height */
    padding-bottom: env(safe-area-inset-bottom); /* Add safe area padding */
    
    .pictureContainer {
      height: calc(100vh - 7.5vh);

      .headerText {
        background-color: white;
        width           : 100%;
        left            : 0%;
        padding         : 10px 40px;

        .contactButton {
          opacity    : 1;
          width      : 150px;
          font-size  : 14px;
          font-weight: 500;
          padding    : 8px 60px;
          animation  : fadeIn 1.5s;
        }
      }
    }
  }
}

@media (max-width: 768px) and (min-width: 391px) {
  .mainContainer {
    height: calc(100dvh - 10vh); /* Use dynamic viewport height */
    padding-bottom: env(safe-area-inset-bottom); /* Add safe area padding */

    .pictureContainer {
      height: calc(100vh - 7.5vh);

      .headerText {
        background-color: white;
        width           : 100%;
        left            : 0%;
        padding         : 30px 40px;

        .contactButton {
          opacity    : 1;
          width      : 130px;
          font-size  : 14px;
          font-weight: 500;
          padding    : 10px 80px;
          animation  : fadeIn 1.5s;
        }
      }

    }
  }
}