@import '../../themes/animations.css';

.mainContainer {
  position      : relative;
  display       : flex;
  flex-direction: column;
  height        : calc(100vh - 10vh);
  overflow-y    : hidden;

  .scrollArrow {
    display  : none;
    position : absolute;
    bottom   : 20px;
    /* Position the arrow 20px above the bottom */
    left     : 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color    : #343a40;
    animation: bounce 1.5s infinite;
    z-index  : 100;
  }

  .container {
    position      : relative;
    display       : flex;
    flex-direction: column;
    height        : 100%;
    width         : 70%;
    margin        : 0 auto;
    padding       : 20px 40px;

    h2 {
      font-weight  : 600;
      margin-bottom: 40px;
      margin-top   : 0;
    }

    h3 {
      font-weight  : 600;
    }
    
    .priceContainer {
      display              : grid;
      grid-template-columns: 1fr 1fr;
      /* Two equal-width columns */
      gap                  : 20px;
      /* Space between columns */

      .priceItem {
        animation    : fadeIn 0.5s both calc(var(--count) * 70ms);
        border-radius: 5px;
        padding      : 5px 0;

        p {
          font-size  : 16px;
          color      : #343a40;
          font-weight: 500;
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .mainContainer {
    overflow-y: auto;
    overflow-x: hidden;

    .scrollArrow {
      display: block;
    }

    .container {
      height : 100%;
      width  : 100%;
      padding: 20px;
      margin : 0;


      h2 {
        font-weight: 600;
        margin     : 20px 0;
      }

      h3 {
        font-weight  : 600;
        margin-bottom: 20px;
      }

      .priceContainer {
        position                  : relative;
        display                   : flex;
        /* Arrange items horizontally */
        width                     : 100%;
        flex-direction            : row;
        /* Horizontal layout */
        overflow-x                : scroll;
        /* Enable horizontal scrolling */
        scroll-snap-type          : x mandatory;
        /* Snap to each item */
        -webkit-overflow-scrolling: touch;
        /* Smooth scrolling on mobile */
        gap                       : 0;
        /* Remove gaps between items */
        scrollbar-width           : none;
        /* Firefox */
        margin-top                : 5%;
        box-shadow                : 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Add shadow */

        .priceItem {
          background-color    : white;
          flex                : 0 0 90vw;
          /* Each item takes up the full viewport width */
          height              : 70vh;
          /* Optional         : Make each item take up the full viewport height */
          scroll-snap-align   : start;
          /* Snap to the start of each item */
          display             : flex;
          flex-direction      : column;
          justify-content     : center;
          align-items         : center;
          padding             : 10px;
          box-sizing          : border-box;
          border-radius       : 0px;

          p {
            font-size  : 16px;
            color      : #343a40;
            font-weight: 500;
          }
        }

      }

      .pagination {
        position       : absolute;
        top            : 85%;
        left           : 50%;
        /* Center horizontally */
        transform      : translateX(-50%);
        /* Adjust for the element's width */
        display        : flex;
        justify-content: center;
        align-items    : center;
        gap            : 10px;
        z-index        : 100;

        .dot {
          width           : 7px;
          height          : 7px;
          border-radius   : 50%;
          background-color: var(--color-primary);
          transition      : background-color 0.3s ease;

          &.active {
            background-color: black;
            /* Highlight active dot */
          }
        }
      }
    }
  }
}

@media (max-width: 768px) and (min-width: 391px) {
  .mainContainer {
    overflow-y: auto;

    .container {
      height : 100%;
      width  : 100%;
      padding: 20px;

      h2 {
        font-weight: 600;
        margin     : 20px 0 30px;
      }

      h3 {
        font-weight  : 600;
        margin-bottom: 20px;
      }

      .priceContainer {
        position                  : relative;
        display                   : flex;
        /* Arrange items horizontally */
        width                     : 100%;
        flex-direction            : row;
        /* Horizontal layout */
        overflow-x                : scroll;
        /* Enable horizontal scrolling */
        scroll-snap-type          : x mandatory;
        /* Snap to each item */
        -webkit-overflow-scrolling: touch;
        /* Smooth scrolling on mobile */
        gap                       : 0;
        /* Remove gaps between items */
        scrollbar-width           : none;
        /* Firefox */
        margin-top                : 15%;
        box-shadow                : 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Add shadow */

        .priceItem {
          background-color    : white;
          flex                : 0 0 90vw;
          /* Each item takes up the full viewport width */
          height              : 50vh;
          /* Optional         : Make each item take up the full viewport height */
          scroll-snap-align   : start;
          /* Snap to the start of each item */
          display             : flex;
          flex-direction      : column;
          justify-content     : center;
          align-items         : center;
          padding             : 10px;
          box-sizing          : border-box;
          border-radius       : 0px;

          p {
            font-size  : 16px;
            color      : #343a40;
            font-weight: 500;
          }
        }
      }

      .pagination {
        position       : absolute;
        top            : 68%;
        left           : 50%;
        /* Center horizontally */
        transform      : translateX(-50%);
        /* Adjust for the element's width */
        display        : flex;
        justify-content: center;
        align-items    : center;
        gap            : 10px;
        z-index        : 100;

        .dot {
          width           : 9px;
          height          : 9px;
          border-radius   : 50%;
          background-color: var(--color-primary);
          transition      : background-color 0.3s ease;

          &.active {
            background-color: black;
            /* Highlight active dot */
          }
        }
      }
    }
  }
}

@media (min-width: 1920px) {
  .mainContainer {
    .container {
      width  : 80%;
      margin : 0 auto 0 20%;
      padding: 80px 40px 20px;
    }
  }
}