* {
  box-sizing: border-box;
}

html,
body,
div#root {
  margin    : 0;
  padding   : 0;
  max-height: 100%;
  width     : 100vw;
  overflow  : hidden;
  /* Prevent horizontal and vertical scrolling */
}

h1 {
  font-size: 34px !important;
}

h2 {
  font-size: 30px !important;
}

h3 {
  font-size: 26px !important;
}

h4 {
  font-size: 24px !important;
}

@media (max-width: 390px) {
  h1 {
    font-size: 21px !important;
  }
  h2 {
    font-size: 19px !important;
  }
  h3 {
    font-size: 17px !important;
  }
  h4 {
    font-size: 15px !important;
  }
}

@media (max-width: 768px) and (min-width: 391px) {
  h1 {
    font-size: 24px !important;
  }
  h2 {
    font-size: 22px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  h4 {
    font-size: 18px !important;
  }
}

body {
  background: #ede4e4;
  background: -webkit-linear-gradient(71deg, rgba(237, 228, 228, 1) 0%, rgba(227, 225, 225, 1) 47%);
  background: -moz-linear-gradient(71deg, rgba(237, 228, 228, 1) 0%, rgba(227, 225, 225, 1) 47%);
  background: linear-gradient(71deg, rgba(237, 228, 228, 1) 0%, rgba(227, 225, 225, 1) 47%);
  filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr="#EDE4E4",
      endColorstr="#E3E1E1",
      GradientType=0);
}